@import "src/styles/scaffold";

.fsBannerDescription {
  // display: flex;
  // align-items: center;
}

[data-fs-banner-description="banner-secundario-home"] {
  display: flex;
  justify-content: space-evenly;
}

[data-fs-banner-description-content="banner-secundario-home"] {
  display: flex;
  align-items: center;
  width: 40%;
}

[data-fs-banner-description-image="banner-secundario-home"] {
  width: 540px;
  margin-right: 44px;
}
